body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Beyaz arka plan */
    color: #000000; /* Siyah metin */
}

header {
    background-color: #007acc; /* Mavi başlık arka plan */
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #007acc; /* Mavi menü arka plan */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #005580; /* Koyu mavi hover efekti */
}

section {
    padding: 20px;
}

footer {
    background-color: #007acc; /* Mavi altbilgi arka plan
